* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner-video video {
    min-width: 100%;
    min-height: 100%;
}

.banner-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .70;
}

.banner-content {
    position: relative;
    top: 30px;
    z-index: 2;
    width: 450px;
    height: 500px;
    background: #333;
    border-radius: 10px;
    padding: 1rem 2rem;
}

/* Form Trabajo */

.input {
    width: 100%;
    height: 44px;
    background-color: #4d69a6;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
    margin-bottom: 10px;
    color: #fff;
}

.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #4d69a6;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
    outline: none;
    border-color: #fff;
}

.input-group:hover .label,
.input:focus {
    color: #fff;
}

.group {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 10px;
}

.check {
    display: block;
    align-items: center;
    line-height: 40px;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #4d69a6;
}

.option-input:checked::before {
    width: 30px;
    height: 30px;
    display: flex;
    content: '✓';
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: 'Font Awesome 5 Free';
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #4d69a6;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

@keyframes click-wave {
    0% {
        height: 30px;
        width: 30px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 70px;
        width: 70px;
        margin-left: -15px;
        margin-top: -15px;
        opacity: 0;
    }
}

.enviar {
    display: flex;
    justify-content: center;
}

.submit {
    font-size: 18px;
    background: #4d69a6;
    color: white;
    padding: 0.5em 0.8em 0.7em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.submit span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.submit i {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.submit:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submit:hover i {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submit:hover span {
    transform: translateX(5em);
}

.submit:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.terminos{
    color: #fff;
}